$valid-color: green;
$invalid-color: red;
$background-color: black;
$formColor: black;
$LoginColor: white;
$textColor: rgba(223, 219, 219, 0.904);
$inputColor: black;
$buttonTextColor: white;
$buttonColor: black;
